<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  # 访问的路径不是一个目录时RewriteRule才能生效
  RewriteCond %{REQUEST_FILENAME} !-d
  # 访问的路径不是一个文件时RewriteRule才能生效
  RewriteCond %{REQUEST_FILENAME} !-f
  # 将访问路径重写到index.php/的后面,作为参数传递给index.php文件
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
  
  RewriteRule ^.git - [F,L]
  RewriteRule Uploads/(.*).(php|asp|jsp|js|sh)$ – [F]
</IfModule>
